{% extends 'base-admin.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ recette.titre }}</td>
            </tr>
            <tr>
                <th>Etapes</th>
                <td>{{ recette.etapes }}</td>
            </tr>
            <tr>
                <th>Notation</th>
                <td>{{ recette.notation }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ recette.heure }}</td>
            </tr>
            <tr>
                <th>Qnt</th>
                <td>{{ recette.qnt }}</td>
            </tr>
            <tr>
                <th>Cal</th>
                <td>{{ recette.cal }}</td>
            </tr>
            <tr>
                <th>Liste</th>
                <td>{{ recette.liste }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ recette.createdAt ? recette.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ recette.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ recette.updatedAt ? recette.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_recette_index') }}">back to list</a>

    <a href="{{ path('app_admin_recette_edit', {'id': recette.id}) }}">edit</a>

    {{ include('admin_recette/_delete_form.html.twig') }}
{% endblock %}
